[submodule "scripts"]
	path = scripts
	url = https://github.com/Kratacoa/scripts
[submodule "config/kak/.config/kak/plugins/plug.kak"]
	path = config/kak/.config/kak/plugins/plug.kak
	url = https://github.com/andreyorst/plug.kak
	branch = master
