# Emacs
config/emacs/.emacs.d/elpa/
config/emacs/.emacs.d/auto-save-list/
config/emacs/.emacs.d/ido.last
config/emacs/.emacs.d/places

# Kakoune
config/kak/.config/kak/plugins/*
config/!kak/.config/kak/plugins/plug.kak

# Weechat
config/weechat/.weechat/sec.conf
config/weechat/.weechat/weechat.log
config/weechat/.weechat/logs/
